* {
    box-sizing: border-box;
}
:root {
    --color-1: #0396ff;
    --color-2: #7367f0;
    --color-3: #32ccbc;
    --color-4: #f55555;
    --color-5: #ffd503;
    --color-6: #ff0396;
    --font-1: "Anton", sans-serif;
    --font-2: "Sofia", cursive;
    --font-3: "Be Vietnam Pro", sans-serif;
    --font-4: "Carattere", cursive;
    --font-5: "Playball", cursive;
    --font-system: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* 
    Ta dùng mẹo như sau:
    1 rem = 16px = 100%
    1 rem = 10px = 62.5%
    lúc này ta muốn chuyển 1 px nào đó qua rem thì chỉ cần chia cho 10px
    vd: width: 50px = 5rem ( còn như thông thường 50px / 16px = 3.125rem)  
*/
html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-3);
    /* margin: 32px; */
    line-height: 1.6;
    /* heading h2 = 0 */
    counter-reset: heading-h2;
    font-weight: 300;
}

::selection {
    background: var(--color-2);
    color: #fff;
}

b {
    font-weight: bold;
}

b500 {
    font-weight: 500;
}

i {
    font-style: italic;
}

h1 {
    margin: 28px 0;
    font-family: var(--font-1);
    color: var(--color-2);
    font-size: 4.6rem;
    font-weight: 600;
    text-shadow: 3px 3px 3px rgba(142, 113, 246, 0.7);
}

h2 {
    margin: 40px 0 20px;
    display: block;
    font-family: var(--font-1);
    color: var(--color-1);
    font-size: 2.6rem;
    font-weight: 600;
    /* Mỗi lần gặp thẻ h2 sẽ tăng +1  */
    counter-increment: heading-h2;
    /* đặt cho heading-h3 = 0 mỗi khi gặp thẻ h2 
        -> reset thẻ h3 về 0 khi gặp thẻ h2
    */
    counter-reset: heading-h3;
}

h2::before {
    content: counter(heading-h2) " - ";
}

h3 {
    margin: 32px 0 16px;
    font-family: var(--font-1);
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--color-6);
    /* Mỗi lần gặp thẻ h3 sẽ tăng +1 */
    counter-increment: heading-h3;
    /* đặt cho heading-h4 = 0 mỗi khi gặp thẻ h3 
        -> reset thẻ h4 về 0 khi gặp thẻ h3
    */
    counter-reset: heading-h4;
}

h3::before {
    content: counter(heading-h2) "." counter(heading-h3) " - ";
}

h4 {
    margin: 32px 0 16px;
    font-family: var(--font-system);
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--color-5);
    text-shadow: 0px 1px rgba(182, 151, 0, 0.7);
    /* Mỗi lần gặp thẻ h4 sẽ tăng +1  */
    counter-increment: heading-h4;
    counter-reset: heading-h5;
}

h4::before {
    content: counter(heading-h2) "." counter(heading-h3) "." counter(heading-h4)
        " ";
    margin-right: 14px;
}

h5 {
    margin: 32px 0 16px;
    font-family: var(--font-system);
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-2);

    /* Mỗi lần gặp thẻ h5 sẽ tăng +1  */
    counter-increment: heading-h5;
}

h5::before {
    content: counter(heading-h2) "." counter(heading-h3) "." counter(heading-h4)
        "." counter(heading-h5) " ";
    margin-right: 14px;
}

p {
    margin: 10px 0;
    font-family: var(--font-3);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2;
    color: rgb(31, 41, 55);
}

strong {
    font-family: var(--font-3);
    font-size: 1.8rem;
    font-weight: 600;
}

note,
note-1,
span,
example {
    color: var(--color-4);
    font-size: 1.8rem;
    font-family: var(--font-3);
    font-weight: 500;
}

note-2 {
    margin: 10px 0;
    display: block;
    color: var(--color-6);
    font-family: var(--font-1);
    font-size: 2.2rem;
    font-weight: 500;
}

example {
    margin: 24px 0 12px;
    display: block;
    color: #000;
    line-height: 2;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

span {
    color: #000;
}

note-1 {
    color: var(--color-2);
}

ol > li {
    font-size: 1.8rem;
    font-family: var(--font-3);
}

ul > li {
    font-size: 1.8rem;
}

li note-1 {
    margin-right: 10px;
}

.border-image-clip-path {
    width: 400px;
    margin: 20px 0;
    border-bottom: 10px solid;
    border-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%) 1;
    clip-path: inset(0px round 0);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

/* border image animation */
@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    font-size: 1.6rem;
}

table th {
    background-color: var(--color-4);
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #eeeeee;
}

table tr:hover,
table tr:hover th {
    background-color: var(--color-4);
    color: #fff;
}

table tr.highlight-row {
    background: #0400f13f;
}
table tr.row-chan {
    background: #2c94d93a;
}
table tr.row-letter {
    background: #eec0383f;
}

table tr.row-quality {
    background: #ef38be2f;
}
table tr.row-nsfw {
    background: #7d06ec44;
}
table tr.row-nsfw:hover td,
table tr.row-quality:hover td,
table tr.row-chan:hover td,
table tr.highlight-row:hover td,
table tr.row-letter:hover td {
    background-color: var(--color-4);
    color: #fff;
}
/* ======================================================== */

/* header */
.header {
    top: 0px;
    position: sticky;
    height: 64px;
    background: #000;
    opacity: 0.9;
    padding: 10px 0;
    z-index: 50;
}

.header .logo {
    height: 40px;
    object-fit: cover;
}

.header img {
    max-width: 100%;
}

.header .content-main {
    display: flex;
    align-items: center;
}

.header .menu {
    display: flex;
    margin-left: 150px;
    position: relative;
}

.header .menu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
    padding: 4px 20px;
}

.header .menu > li:hover {
    background: var(--color-1);
    border-radius: 4px;
}

.header .drop-menu {
    position: absolute;
    top: 100%;
    display: none;
}

.header .menu li:hover .drop-menu {
    display: block;
}

.header .drop-menu {
    background: #000000f3;
    z-index: 60;
}
.header .drop-menu li {
    padding: 0;
    border-bottom: 1px dashed #ccc;
}

.header .drop-menu li:last-child {
    border-bottom: 1px solid transparent;
}

.header .drop-menu li:hover {
    background: var(--color-4);
    border-radius: 0;
}

.header .drop-menu a {
    padding: 4px 20px;
}

/*  */
.content img {
    max-width: 100%;
}

.content .image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.content note-1 {
    margin-right: 10px;
}

.content figure {
    display: inline-block;
    border: 1px solid #d0d0d0;
}

.content figure + figure {
    margin-left: 20px;
}

.content figcaption {
    width: 200px;
    margin-top: -4px;
    font-size: 1.6rem;
    font-style: italic;
    background: #000;
    color: #fff;
    padding: 5px;
}
/* ============================== */

.body-desc .title {
    margin: 10px 0;
    font-size: 1.8rem;
}

.body-desc .title note-1 {
    padding-right: 10px;
}

.box-content {
    display: flex;
    gap: 20px;
}

.box {
    border: 1px solid #d5d5d5;
}

.box img {
    max-width: 100%;
}

.box .image {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.box .body {
    width: 200px;
    height: 80px;
    background: #030303;
    color: #fff;
}

.box-content .box .image-box {
    position: relative;
}

.box-content .box .checkpoint {
    display: flex;
    /* margin-top: -33px; */
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    background: #0396ffb8;
    padding: 4px;
    margin: 4px 4px 0 4px;
    border-radius: 3px;
    z-index: 20;
}

.box-content .checkpoint-hover {
    width: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    color: #fff;
    background: var(--color-1);
    display: none;
    z-index: 13;
}

.box-content .checkpoint:hover .checkpoint-hover {
    display: block;
}

.box-content .box .lora {
    display: flex;
    position: relative;
    color: #fff;
    font-size: 1.4rem;
    background: #f55555b0;
    padding: 4px;
    border-radius: 3px;
    margin: 2px;
    z-index: 20;
}

.box-content .lora .lora-hover {
    width: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    padding: 4px;
    font-size: 1.6rem;
    border-radius: 4px;
    color: #fff;
    background: var(--color-4);
    display: none;
    z-index: 13;
}

.box-content .lora:hover .lora-hover {
    display: block;
}

.box .body {
    padding: 4px 2px;
}
.box .body p {
    margin: 0;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.5;
    font-style: italic;
    font-weight: 300;
    font-family: var(--font-3);
}

.box .detail-prompt {
    z-index: 11;
    position: absolute;
    background: var(--color-3);
    color: #fff;
    top: 0;
    left: 100%;
    font-size: 1.6rem;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    display: none;
}
.box .image-box:hover .detail-prompt {
    display: block;
}

.check-lora {
    margin-top: -72px;
}
/* =================================== */

/*  */
.content-main {
    width: 100%;
    max-width: calc(100% - 64px);
    margin-left: auto;
    margin-right: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
}

.item {
    padding-top: 70px;
    display: inline-block;
    width: 48%;
}

/* parameters */
#parameters,
#upscale,
#prompt,
#nagative,
#character,
#command {
    padding-top: 50px;
}

#exp-prompt {
    margin-top: 50px;
    background: #cccccc31;
}

#exp-prompt .content-main {
    padding: 80px 0;
}

#exp-prompt .title {
    margin-top: 0;
}
#nagative {
    padding-bottom: 50px;
}
